# List

the list is an array type in Python using square brackets, which allows changing element values ​​and duplicating index values.

In [ ]:
 a = [21, 3.26, 'perusahaan']

In [ ]:
type (a[0])

int

List can call its variable by name list [index]

In [ ]:
a [2]

'perusahaan'

In [ ]:
menu = ['bebek goreng', 'ikan bakar', 'ayam balado', 'iga panggang']

In [ ]:
menu [2]

'ayam balado'

-1 means the first from the back as well as -2 which means the penultimate and so on

In [ ]:
menu [-1]

'iga panggang'

In [ ]:
menu [-2]

'ayam balado'

if you call index like below, the number behind it will be subtracted by one so that it will display variables up to index 1 only

In [ ]:
menu [0:2]

['bebek goreng', 'ikan bakar']

In [ ]:
menu [:3]

['bebek goreng', 'ikan bakar', 'ayam balado']

In [ ]:
menu [2:]

['ayam balado', 'iga panggang']

In [ ]:
menu [-1:]

['iga panggang']

Len is used to find out how many variables are in the list

In [ ]:
len (menu)

7

append is used to add a variable in the list

In [ ]:
menu.append ('baso goreng')
print (menu)

['bebek goreng', 'ikan bakar', 'ayam balado', 'iga panggang', 'baso goreng', 'baso goreng', 'baso goreng']

del is used to delete a variable by calling its index

In [ ]:
del menu[1]
print (menu)

['bebek goreng', 'ayam balado', 'iga panggang', 'baso goreng', 'baso goreng', 'baso goreng']

pop is used to delete and display the deleted variable which is the last variable

In [ ]:
menu.pop ()

'baso goreng'

 extend is used to add another list to an existing list

In [ ]:
menu.extend (['kerang saus padang', 'sapi lada hitam', 'kerapu goreng'])

In [ ]:
print (menu)

['bebek goreng', 'ayam balado', 'iga panggang', 'baso goreng', 'baso goreng', 'kerang saus padang', 'sapi lada hitam', 'kerapu goreng']

In [ ]:
a = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

remove is used to remove a variable by calling the variable

In [ ]:
a.remove (5)
print (a)

[1, 3, 7, 9, 11, 13, 15, 17, 19, 21]

In [ ]:
del(a[1])
print (a)

[1, 7, 9, 11, 13, 15, 17, 19, 21]

index is used to find out the index of the called variable

In [ ]:
a.index (13)

4

In [ ]:
b = [1,1,1,1,1,2,3,2,4,4,4,2,4,5,2]

count is used to count the number of data from the called variable

In [ ]:
b.count (4)

4

In [ ]:
len(b)

15

sort is used to sort data

In [ ]:
b.sort()
print(b)

[1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 4, 4, 4, 4, 5]

reverse is the opposite of sort so the data will be sorted in reverse

In [ ]:
b.reverse()
print(b)

[5, 4, 4, 4, 4, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1]

# Tupple

tupple are lists. The main difference between tuples and lists is that tuples are immutable

In [ ]:
a = (5, 'void century', 2.1)

In [ ]:
print (a)

(5, 'void century', 2.1)

In [ ]:
print (a[1])

void century

In [ ]:
print (a[0:2])

(5, 'void century')


for the tupple the data cannot be changed so an error will appear when trying to change as below

In [ ]:
print (a[0]=23)

SyntaxError: ignored

#Set

Sets are used to store multiple items in a single variable, written in curly braces '{}'. A set is a collection that is unordered, unchangeable, and unindexed. 

*   Unorder means that the items in a set do not have a defined order. Duplicates are not allowed in this section

*   Unchangeable means that we cannot change the items after the set has been created. But a set itself may be modified, but the elements contained in the set must be of an immutable type.
 
*   Unindexed

In [3]:
letter = {"b","a","n","a","n","a"}

In [6]:
number = {7,7,5,4,3,2,2,8}

In [4]:
print (letter)

{'a', 'n', 'b'}

In [7]:
print (number)

{2, 3, 4, 5, 7, 8}

because the set is unordered, we cannot retrieve some of the data/elements using the slicing process

In [5]:
print (letter[2])

TypeError: ignored

#Dictionary

Dictionaries are used to store data values in key:value pairs. In python, dictionaries are defined with the following curly braces '{}' and additions, namely:

* Each element of the key-value pair is separated by a comma
* Key and value separated by a colon
* Key and value can be any variable or object

A dictionary is a collection that is ordered, changeable, and doesn't allow duplicates.

In [15]:
car= {
  "brand": "Ford",
  "model": "Mustang",
  "create": 1964,
  "year": 2020
}

calling the key in the dictionary then the value can appear for the output, but when calling the value in the dictionary then the key cannot appear

In [11]:
car["brand"]

'Ford'

In [12]:
car["ford"]

KeyError: ignored

calling the dictionary not by index but by the key

In [16]:
car[1]

KeyError: ignored

In [14]:
car["year"]

2020

#Conversion in Python

The process of converting a Python data type into another data type is known as type conversion. We can do the built-in type conversion by using the built-in type function. That is : str(), int() , and float()

Conversion from int to float will add the number after the comma

In [18]:
8

8

In [19]:
type (8)

int

In [17]:
float (8)

8.0

In [26]:
type (float (8))

float

conversion from float to int will remove numbers after commas

In [22]:
2.5

2.5

In [23]:
type (2.5)

float

In [24]:
int (2.5)

2

In [27]:
type (int (2.5))

int

converting from int to str will add single quotes (') around the numbers
But we cannot convert str to int and float

In [28]:
50

50

In [29]:
type (50)

int

In [25]:
str (50)

'50'

In [30]:
type (str (50))

str

In [33]:
"2a"

'2a'

In [34]:
type ("2a")

str

In [35]:
int ("2a")

ValueError: ignored

In [36]:
float ("satu")

ValueError: ignored